<section id="contact">
  <div class="article-inner">
    <header class="article-header">
      <p>
        Hackatory es un espacio libre y abierto para quienes quieran compartir y
        apredender distintas disciplinas técnicas y sociales.
      </p>
      <a
        href="https://hackatory.sandcats.io/shared/1Poy7LZckz98ynpruOI4q6lpBMbnGWNW0jeDzTg5Lap">
        Codigo de conducta
      </a>
    </header>
    <footer class="article-footer">
      <ul>
        <li>Telegram: @hackatory
        <li>Facebook: hackatory
      <ul>
      <address>
        Dirección: Avenida Freyre 3043 D4, Santa Fe, Argentina
      </address>
    </footer>
  </div>
</section>
